html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 100%;
  line-height: 1;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1990px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__container, .tasks__container, .powerfull__container {
  max-width: 1720px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__inner {
  height: 199px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header__menu-item {
  display: flex;
  align-items: center;
  transition: .3s;
}

.header__menu-item:hover {
  color: #5584ff;
}
 
.header__menu-login {
  width: 132px;
  height: 50px;
  background: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #5584ff;
  border: 1px solid #5584ff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.header__menu-login:hover {
  background-color: #5584ff;
  color: #fff;
}

.header__menu-btn {
  display: none;
  width: 50px;
  height: 24px;
  background: transparent;
  cursor: pointer;
}

.header__menu-btn span {
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.menu-mobile__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 360px;
  margin: 0 auto;
  padding-top: 30px;
  transform: translateY(-100%);
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: all 1s;
}

.menu-mobile__list.menu-mobile__list--open {
  transform: translateY(0%);
}

.menu-mobile__item {
  margin-bottom: 25px;
}

.menu-mobile__link {
  color: #000;
}

.menu-mobile__close {
  width: 20px;
  height: 20px;
  background-color: silver;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header__inner {
    height: 150px;
  }
  .header__menu {
    display: none;
  }
  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.section-title {
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}

@media (max-width: 900px) {
  .section-title {
    font-size: 40px;
  }
}

@media (max-width: 740px) {
  .header__logo {
    transform: scale(0.8);
  }
  .section-title {
    font-size: 30px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    transform: scale(0.7);
  }
  .section-title {
    font-size: 25px;
  }
}

.top {
  background-color: #0e1a35;
}

.top__inner {
  padding-top: 280px;
  min-height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.top__grid {
  background-image: url('./images/top-grid.png');
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: contain;
}

.top__graph {
  background-image: url('./images/top-graph.png');
  background-repeat: no-repeat;
  background-position: center 200px;
  background-size: contain;
}

.top__title {
  margin-bottom: 25px;
}

.top__subtitle {
  font-size: 36px;
  color: #8492af;
}

.top__template-symbol {
  height: 368px;
  width: 368px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 60px #8d96b9;
  z-index: 2;
}

.top__download-block {
  width: 1190px;
  height: 640px;
  margin-bottom: -293px;
  padding-top: 275px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -185px;
  box-shadow: 0 0 60px #8d96b9;
}

.top__download-title {
  margin-bottom: 25px;
  font-family: 'Montserrat';    
	font-style: normal;
	font-weight: 700;
  font-size: 48px;
  color: #eb304d;
  text-align: center;
}

.top__download-subtitle {
  margin-bottom: 86px;
  font-family: 'Montserrat';    
	font-style: normal;
	font-weight: 400;
  font-size: 24px;
  color: #b9bcd1;
}

.top__download-button {
  min-height: 93px;
  min-width: 288px;
  background-color: #eb304d;
  border-radius: 10px;
  font-family: 'Montserrat';    
	font-style: normal;
	font-weight: 400;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.top__download-button:hover {
  background-color: #9f051c;
}

@media (max-width: 1230px) {
  .top__download-block {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .top__inner {
    padding-top: 200px;
  }
  .top__download-title {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .top__inner {
    min-height: auto;
  }
  .top__title {
    margin-bottom: 15px;
  }
  .top__subtitle {
    font-size: 25px;
  }
  .top__template-symbol {
    height: 220px;
    width: 220px;
  }
  .top__template-symbol img {
    transform: scale(0.75);
  }
  .top__download-block {
    max-height: 400px;
    margin-bottom: 0;
    padding: 130px 10px 20px 10px;
    top: -110px;
    justify-content: center;
  }
  .top__download-title {
    font-size: 25px;
  }
  .top__download-subtitle {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .top__download-button {
    min-height: 60px;
    min-width: 200px;
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .top__inner {
    padding-top: 150px;
  }
  .header__inner {
    height: 100px;
  }
  .top__subtitle {
    font-size: 20px;
  }
}

.features__inner {
  min-height: 630px;
  padding-top: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__items {
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.features__item {
  max-width: 360px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item:last-child {
  margin-right: 0px;
}

.features__line-1, .features__line-2 {
  width: 220px;
  padding-top: 38px;
  border-bottom: 1px solid #8492af;
  align-self: start;
  position: absolute;
  left: 290px;
}

.features__line-2 {
  position: absolute;
  left: 810px;
}

.features__item-icon {
  height: 88px;
  margin-bottom: 54px;
}

.feature__item-title {
  font-weight: 700;
  font-size: 24px;
  color: #0e1a35;
  margin-bottom: 25px;
}

.feature__item-subtitle {
  margin-bottom: 54px;
  line-height: 1.8;
  color: #8492af;
  text-align: center;
}

.feature__item-button {
  min-height: 50px;
  min-width: 252px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  border: 1px solid #8492af;
  border-radius: 25px;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 1340px) {
  .features__items {
    gap: 50px;
  }
  .features__item {
    margin-right: 0px;
  }
  .features__line-1, .features__line-2 {
    display: none;
  }
}

@media (max-width: 900px) {
  .features__inner {
    min-height: 630px;
    padding-top: 150px;
  }
}

@media (max-width: 768px) {
  .features__inner {
    padding-top: 80px;
  }
  .features__item-icon {
    margin-bottom: 15px;
  } 
  .feature__item-title {
    margin-bottom: 20px;
  }
  .feature__item-subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 390px) {
  .features__item-icon {
    height: 75px;
  }
  .features__item-icon img {
    transform: scale(0.75);
  }
  .feature__item-title {
    font-size: 20px;
  }
  .feature__item-subtitle {
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: 15px;
  }
}

.feature__item-button:hover {
  background-color: #8492af;
}

.browser__inner {
  min-height: 970px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.browser__content {
  padding: 305px 0px 0px 250px;
  display: flex;
  flex-direction: column;
}

.browser__title {
  width: 650px;
  margin-bottom: 60px;
  color: #0e1a35;
}

.browser__text {
  max-width: 580px;
  margin-bottom: 42px;
  line-height: 1.8;
  color: #8492af;
}

.browser__item {
  min-height: 28px;
  margin-bottom: 34px;
  padding-left: 48px;
  font-size: 22px;
  font-weight: 400;
  color: #5584ff;
  background-image: url('./images/icons/checked-icon.png');
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  align-items: center;
}

.browser__image {
  margin-top: 220px;
  overflow: hidden;
}

.browser__image img {
  max-width: 1047px;
}

@media (max-width: 1230px) {
  .browser__inner {
    min-height: 800px;
  }
  .browser__content {
    padding: 150px 0px 0px 150px;
  }

  .browser__image {
    margin-top: 100px;
  }
}

@media (max-width: 900px) {
  .browser__inner {
    min-height: 500px;
    justify-content: center;
  }
  .browser__title {
    margin-bottom: 40px;
  }
  .browser__image {
    display: none;
  }
  .browser__content {
    padding: 50px 0px;
  }
  .browser__text {
    margin-bottom: 22px;
  }
}

@media (max-width: 740px) {
  .browser__inner {
    min-height: auto;
    padding: 0px 15px;
  }
  .browser__title {
    width: auto;
    margin-bottom: 20px;
  }
  .browser__content {
    padding-bottom: 20px;
  }
  .browser__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .browser__text {
    margin-bottom: 15px;
  }
  .browser__item {
    margin-bottom: 20px;
    padding-left: 35px;
    font-size: 20px;
}
}

.tasks {
  background-color: #f1e5ca;
}

.tasks__grid {
  background-image: url('./images/top-grid.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.tasks__graph {
  background-image: url('./images/tasks-grath.png');
  background-repeat: no-repeat;
  background-position: center 120px;
  background-size: contain;
}

.tasks__inner {
  min-height: 757px;
  padding-top: 160px;
  display: flex;
  gap: 50px;
  position: relative;
}

.tasks__progres {
  width: 390px;
}

.tasks__progres-header {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.tasks__progres-title {
  font-weight: 500;
  font-size: 30px;
  color: #000;
}

.tasks__progres-title span {
  margin-left: 20px;
  color: #7b6d50;
}

.tasks__progres-header span {
  font-weight: 500;
  font-size: 30px;
  color: #7b6d50;
}

.task {
  height: 100px;
  margin-bottom: 12px;
  padding: 30px;
  background-color: #000;
  border: 1px solid #7b6d50;
  display: flex;
  align-items: center;
}

.task__icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #aa7b00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__content {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task__title {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 18px;
}

.task__status {
  display: flex;
  align-items: center;
}

.task__time-icon {
  width: 16px;
  height: auto;
  margin-right: 6px;
}

.task__status-text {
  font-size: 14px;
  color: #7b6d50;
}

.status-completed {
  color: #b72ea4;
}

.task__prop {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  cursor: pointer;
}

.task__prop-point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7b6d50;
}

.tasc-place {
  height: 100px;
  border: 1px dashed #7b6d50;
  color: #7b6d50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.drag__content {
  max-width: 510px;
  margin-left: 130px;
  padding-top: 58px;
}

.drag__title {
  margin-bottom: 45px;
  color: #0e1a35;
}

.drag__content-text {
  margin-bottom: 35px;
  line-height: 1.8;
  color: #7b6d50;
}

.drag__buttons {
  display: flex;
  gap: 18px;
}

.drag__btn {
  width: 35px;
  height: 35px;
  border: 1px solid #7b6d50;
  border-radius: 50%;
  color: #7b6d50;
  background: transparent;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.drag__btn:hover {
  color: #f1e5ca;
  background-color: #7b6d50;
}

@media (max-width: 1550px) {
  .drag__content {
    margin-left: 0;
  }
}

@media (max-width: 1420px) {
  .tasks__inner {
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .drag__content {
    max-width: 400px;
  }
  .drag__title {
    margin-bottom: 20px;
  }
  .drag__content-text {
    margin-bottom: 15px;
  }
}

@media (max-width: 1270px) {
  .tasks__inner {
    padding-top: 80px;
  }
  .drag__content {
    padding-top: 0;
  }
}

@media (max-width: 900px) {
  .tasks__inner {
    padding-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .task {
    height: 80px;
    padding: 15px;
  }
  .tasc-place {
    height: 80px;
    font-size: 18px;
  }
  .tasks__progres-header {
    margin-bottom: 20px;
  }
  .tasks__progres-title {
    font-size: 24px;
  }
  .tasks__progres-title span {
    font-size: 24px;
    margin-left: 15px;
  }
  .task__icon {
    margin-right: 10px;
  }
  .task__title {
    font-size: 15px;
    margin-bottom: 0;
  }
  .task__time-icon {
    margin-right: 5px;
  }
  .task__status-text {
    font-size: 13px;
  }
}

.powerfull__inner {
  min-height: 1153px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.powerfull__title {
  margin-bottom: 55px;
  color: #0e1a35;
}

.powerfull__subtitle, .pricing__subtitle {
  max-width: 1000px;
  margin-bottom: 86px;
  line-height: 1.8;
  color: #8492af;
  text-align: center;
}

.powerfull__content {
  height: 681px;
  width: 100%;
  background-image: url('./images/screen-mockup.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  display: flex;
  justify-content: center;
}

.powerfull__item {
  width: 650px;
  margin-top: 85px;
}

.powerfull__item:last-child {
  margin-top: 390px;
  margin-left: 100px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.powerfull__item-header {
  width: 100%;
  border-bottom: 1px solid #5584ff;
  position: relative;
}

.powerfull__item-title {
  padding-bottom: 15px;
  color: #0e1a35;
  font-weight: 700;
  font-size: 24px;
}

.powerfull__item-bgpoint {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #95b2fd;
  opacity: 0.8;
  position: absolute;
  right: calc(-47px/2);
  bottom: calc(-47px/2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerfull__item-smpoint {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5584ff;
}

.right-item .powerfull__item-bgpoint {
  left: calc(-47px/2);
}

.powerfull__item-text {
  max-width: 240px;
  padding-top: 25px;
  line-height: 1.8;
  color: #8492af;
}

.pricing__inner {
  min-height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title {
  margin-bottom: 90px;
  color: #0e1a35;
}

.pricing__cards {
  margin-bottom: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 141px;
}

.pricing__item {
  padding: 50px 52px 42px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  color: #8492af;
  box-shadow: 0 0 25px #eeeff1;
}

.pricing__item-title {
  font-size: 24px;
  color: #0e1a35;
  text-transform: uppercase;
}

.pricing__item-value {
  font-weight: 700;
  font-size: 72px;
  color: #0e1a35;
}

.pricing__item-value span {
  font-size: 40px;
}

.pricing__item-mon {
  color: #8492af;
  font-weight: 400;
  font-size: 42px;
}

.pricing__item-strings {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.pricing__item-string {
  display: flex;
  align-items: center;
  gap: 14px;
}

.pricing__item-status {
  width: 24px;
  height: 24px;
}

.pricing__subtitle {
  width: 882px;
  margin-bottom: 60px;
  font-family: 'MYRIADPROREGULAR';
}

.pricing__btn-wrapper {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.create-line {
  width: 226px;
  border-bottom: 1px solid #8492af;
}

.pricing__btn {
  width: 204px;
  height: 48px;
  border-radius: 24px;
  background-color: #5584ff;
  color: #fff;
  font-family: 'Roboto'; 
	font-style: normal;
	font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.pricing__btn:hover {
  opacity: 0.9;
}

@media (max-width: 1365px) {
  .pricing__cards {
    gap: 100px;
  }
}

@media (max-width: 900px) {
  .powerfull__inner {
    min-height: auto;
    padding-top: 30px;
  }
  .powerfull__title {
    margin-bottom: 35px;
  }
  .powerfull__subtitle, .pricing__subtitle {
    max-width: 90%;
    margin-bottom: 50px;
  }
  .powerfull__content {
    height: 500px;
    margin-bottom: 50px;
  }
  .powerfull__item {
    margin-top: 50px;
    padding-right: 5px;
  }
  
  .powerfull__item:last-child {
    margin-top: 270px;
    margin-left: 70px;
  }
  
  .powerfull__item-title {
    padding-bottom: 5px;
    font-size: 18px;
  }
  
  .powerfull__item-bgpoint {
    width: 25px;
    height: 25px;
    right: calc(-25px/2);
    bottom: calc(-25px/2);
  }
  
  .powerfull__item-smpoint {
    width: 15px;
    height: 15px;
  }
  
  .right-item .powerfull__item-bgpoint {
    left: calc(-25px/2);
  }
  
  .powerfull__item-text {
    padding-top: 5px;
    line-height: 1.2;
  }
  .pricing__title {
    margin-bottom: 50px;
  }
  .pricing__subtitle {
    width: 90%;
    margin-bottom: 40px;
  }
  .pricing__cards {
    margin-bottom: 50px;
    gap: 50px;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .create-line {
    display: none;
  }
}

@media (max-width: 390px) {
  .pricing__item {
    padding: 30px 20px;
    gap: 30px;
  }
  .pricing__item-value {
    font-size: 50px;
  }
  .powerfull__item {
    margin-top: 40px;
  }
  .powerfull__item:last-child {
    margin-top: 250px;
    margin-left: 50px;
  }
  .powerfull__item-text {
    font-size: 16px;
  }
}

footer {
  background-color: #0e1a35;
}

.footer__container {
  max-width: 1500px;
  padding: 0px 15px;
  margin: 0 auto;
}

.footer__inner {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #8492af;
}

.footer__left {
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

.footer__menu-link {
  transition: .3s;
}

.footer__menu-link:hover {
  color: #fff;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts>* {
  background: transparent;
  cursor: pointer;
}

.contacts__item {
  transition: .3s;
}

.contacts__item:hover {
  filter: brightness(0) invert(1);
}

@media (max-width: 900px) {
  .footer__inner {
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 440px) {
  .footer__menu-list {
    flex-direction: column;
    gap: 10px;
  }
}





